src/main/java/com/otn/webservice/ResourceServicePort.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<xs:schema xmlns:tns="http://inspur.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://inspur.com/">

    <xs:element name="getAllEquip" type="tns:getAllEquip"></xs:element>

    <xs:element name="getAllEquipCardByAmp" type="tns:getAllEquipCardByAmp"></xs:element>

    <xs:element name="getAllEquipCardByAmpResponse" type="tns:getAllEquipCardByAmpResponse"></xs:element>

    <xs:element name="getAllEquipLink" type="tns:getAllEquipLink"></xs:element>

    <xs:element name="getAllEquipLinkResponse" type="tns:getAllEquipLinkResponse"></xs:element>

    <xs:element name="getAllEquipResponse" type="tns:getAllEquipResponse"></xs:element>

    <xs:element name="getChannel" type="tns:getChannel"></xs:element>

    <xs:element name="getChannelResponse" type="tns:getChannelResponse"></xs:element>

    <xs:complexType name="getAllEquipLink">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllEquipLinkResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getChannel">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getChannelResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllEquip">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllEquipResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllEquipCardByAmp">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllEquipCardByAmpResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>