src/main/java/com/webservice/ResourceServicePort.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://inspur.com/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://inspur.com/" name="ResourceServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://inspur.com/"
                        schemaLocation="http://10.114.223.15:80/resourceWebService/ResourceServicePort?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getChannel">
        <part name="parameters" element="tns:getChannel"></part>
    </message>
    <message name="getChannelResponse">
        <part name="parameters" element="tns:getChannelResponse"></part>
    </message>
    <message name="getAllEquip">
        <part name="parameters" element="tns:getAllEquip"></part>
    </message>
    <message name="getAllEquipResponse">
        <part name="parameters" element="tns:getAllEquipResponse"></part>
    </message>
    <message name="getAllEquipLink">
        <part name="parameters" element="tns:getAllEquipLink"></part>
    </message>
    <message name="getAllEquipLinkResponse">
        <part name="parameters" element="tns:getAllEquipLinkResponse"></part>
    </message>
    <message name="getAllEquipCardByAmp">
        <part name="parameters" element="tns:getAllEquipCardByAmp"></part>
    </message>
    <message name="getAllEquipCardByAmpResponse">
        <part name="parameters" element="tns:getAllEquipCardByAmpResponse"></part>
    </message>
    <portType name="ResourceServiceDelegate">
        <operation name="getChannel">
            <input message="tns:getChannel"></input>
            <output message="tns:getChannelResponse"></output>
        </operation>
        <operation name="getAllEquip">
            <input message="tns:getAllEquip"></input>
            <output message="tns:getAllEquipResponse"></output>
        </operation>
        <operation name="getAllEquipLink">
            <input message="tns:getAllEquipLink"></input>
            <output message="tns:getAllEquipLinkResponse"></output>
        </operation>
        <operation name="getAllEquipCardByAmp">
            <input message="tns:getAllEquipCardByAmp"></input>
            <output message="tns:getAllEquipCardByAmpResponse"></output>
        </operation>
    </portType>
    <binding name="ResourceServicePortBinding" type="tns:ResourceServiceDelegate">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getChannel">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAllEquip">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAllEquipLink">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAllEquipCardByAmp">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="ResourceServiceService">
        <port name="ResourceServicePort" binding="tns:ResourceServicePortBinding">
            <soap:address location="http://10.114.223.15:80/resourceWebService/ResourceServicePort"></soap:address>
        </port>
    </service>
</definitions>